<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Pedro Monteiro</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Cordeis</a></li>
      <li><a href="#">Agenda</a></li>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#">Cordeis</a></li>
      <li><a href="#">Agenda</a></li>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <!--cards !-->
  <div class="col s12 m7">
    {{outlet}}
  </div>
</div>